* {
	margin: 0;
	padding: 0;
	border: none;
}
html, body, #superior {
	height: 100%;
}
body > #superior {
	height: auto;
	min-height: 100%;
}
#superior {
	background-image: url(../comun/fondos.png);
	background-repeat: repeat-x;
	background-position: center top;
}
#cuerpo {
	width: 1050px;
	margin: 0 auto;
	padding-bottom: 110px;
}
#menulogo {
	height: 80px;
}
#logo {
	width: 128px;
	float: left;
	margin-left: 70px;
	margin-top: 33px;
}
#botones {
	width: 560px;
	height: 20px;
	margin-top: 50px;
	margin-left: 230px;
	float: left;
}
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}
.secciones {
	color: #ffffff;
	text-decoration: none;
}
.secciones:hover {
	text-shadow: 0 1px 1px #646464;
}
.secciones:active {
	text-shadow: 0 1px 1px #646464;
	position: relative;
	top: 1px;
}
.seccionesblau {
	color: #0091C9;
	text-decoration: none;
	font-size:20px
}
.seccionesblau:hover {
	text-shadow: 0 1px 1px #646464;
}
.seccionesblau:active {
	text-shadow: 0 1px 1px #646464;
	position: relative;
	top: 1px;
}
.seccionesverd {
	color: #5C922F;
	text-decoration: none;
	font-size:16px
}
.seccionesverd:hover {
	text-shadow: 0 1px 1px #646464;
}
.seccionesverd:active {
	text-shadow: 0 1px 1px #646464;
	position: relative;
	top: 1px;
}
.seccionesdescar {
	color: #666666;
	/* [disabled]text-decoration: none; */
	font-size: 18px
}
.seccionesdescar:hover {
	text-shadow: 0 1px 1px #646464;
}
.seccionesdescar:active {
	text-shadow: 0 1px 1px #646464;
	position: relative;
	top: 1px;
}
.seccionestar {
	color: #EF7F1A;
	text-decoration: none;
	font-size: 20px
}
.seccionestar:hover {
	text-shadow: 0 1px 1px #646464;
}
.seccionestar:active {
	text-shadow: 0 1px 1px #646464;
	position: relative;
	top: 1px;
}
.secciones2 {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 1px 1px #646464;
}
#flecha1 {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 247px;
	position: relative;
	float: left;
}
#flecha1b {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 230px;
	position: relative;
	float: left;
}
#flecha2 {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 415px;
	position: relative;
	float: left;
}
#flecha2b {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 333px;
	position: relative;
	float: left;
}
#flecha3 {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 483px;
	position: relative;
	float: left;
}
#flecha3b {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 443px;
	position: relative;
	float: left;
}
#flecha4 {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 593px;
	position: relative;
	float: left;
}
#flecha4b {
	width: 11px;
	height: 6px;
	margin-top: 4px;
	margin-left: 548px;
	position: relative;
	float: left;
}
#menupromo {
	height: 385px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuhistoria {
	height: 680px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#cuerpohistoria {
	height: 630px;
	margin-top: 20px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
}
#titulohistoria {
	width: 855px;
	height: 30px;
	margin-top: 20px;
	margin-left: 27px;
	padding-left: 25px;
	background-image: url(../comun/flechaverde.png);
	background-repeat: no-repeat;
	color: #2b9416;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.titulogra {
	font-size: 18px;
}
.titulopeq {
	font-size: 14px;
}
#textohistoria {
	width: 400px;
	height: 350px;
	margin-top: 20px;
	margin-left: 52px;
	text-align: justify;
	float: left;
}
#foto1historia {
	width: 400px;
	height: 280px;
	margin-top: 45px;
	margin-left: 25px;
	float: left;
}
#foto2historia {
	width: 300px;
	height: 230px;
	margin-top: 25px;
	margin-left: 300px;
	float: left;
}
#menuproducto {
	height: auto;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid #c8c8c8;
	background-color: #FFF;
}
#menutitol {
	height: 30px;
}
.botodalt {
	width: 156px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #afafaf;
	text-decoration: none;
}
.botodalt:hover {
	color: #4b4b4b;
}
.botodalt:active {
	position: relative;
	top: 1px;
}
.botodalt-8 {
	width: 117px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #afafaf;
	text-decoration: none;
}
.botodalt-8:hover {
	color: #4b4b4b;
}
.botodalt-8:active {
	position: relative;
	top: 1px;
}
.botodaltu {
	width: 162px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #afafaf;
	text-decoration: none;
}
.botodaltu:hover {
	color: #4b4b4b;
}
.botodaltu:active {
	position: relative;
	top: 1px;
}
.botodaltu-8 {
	width: 125px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #afafaf;
	text-decoration: none;
}
.botodaltu-8:hover {
	color: #4b4b4b;
}
.botodaltu-8:active {
	position: relative;
	top: 1px;
}
.botodalt2 {
	width: 156px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4b4b4b;
	text-decoration: none;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	-webkit-box-shadow: inset 0 -2px 5px #c8c8c8;
	-moz-box-shadow: inset 0 -2px 5px #c8c8c8;
	box-shadow: inset 0 -2px 5px #c8c8c8;
}
.botodalt2-8 {
	width: 117px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4b4b4b;
	text-decoration: none;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	-webkit-box-shadow: inset 0 -2px 5px #c8c8c8;
	-moz-box-shadow: inset 0 -2px 5px #c8c8c8;
	box-shadow: inset 0 -2px 5px #c8c8c8;
}
.botodaltu2 {
	width: 162px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4b4b4b;
	text-decoration: none;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	-webkit-box-shadow: inset 0 -2px 5px #c8c8c8;
	-moz-box-shadow: inset 0 -2px 5px #c8c8c8;
	box-shadow: inset 0 -2px 5px #c8c8c8;
}
.botodaltu2-8 {
	width: 125px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4b4b4b;
	text-decoration: none;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
	-webkit-box-shadow: inset 0 -2px 5px #c8c8c8;
	-moz-box-shadow: inset 0 -2px 5px #c8c8c8;
	box-shadow: inset 0 -2px 5px #c8c8c8;
}
.botodalt3 {
	width: 234px;
	height: 100px;
	margin-top: -1px;
	margin-left: -1px;
	float: left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #afafaf;
	text-decoration: none;
}
#botoneraprod {
	height: 100px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	background: -moz-linear-gradient(top,  #ffffff,  #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
}
#menuproductos {
	height: 840px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuproductos2 {
	height: 870px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuproductos3 {
	height: 900px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuproductos4 {
	height: 960px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.bt_cat {
	width: 306px;
	height: 426px;
	margin: 60px 0 0 120px;
	float: left;
}
.bt_cat img { border: 0 }
#barra3 {
	width: 490px;
	height: 27px;
	padding-top: 3px;
	padding-left: 20px;
	background-image: url(../comun/fondobarra3.png);
	background-repeat: no-repeat;
}
#titolprod {
	width: 200px;
	height: 27px;
	float: left;
	padding-top: 3px;
	text-align: center;
	background-color: #2b9416;
	background: -webkit-gradient(linear, left top, left bottom, from(#2b9416), to(#114706));
	background: -moz-linear-gradient(top,  #2b9416,  #114706);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b9416', endColorstr='#114706');
}
#barraprod {
	width: 290px;
	height: 27px;
	float: left;
	padding-top: 3px;
	padding-left: 20px;
	background-image: url(../comun/fondobarra.png);
	background-repeat: no-repeat;
}
#bprod1 {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 4px solid #e1e1e1;
}
#bprod2 {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 4px solid #e1e1e1;
}
#bprod3 {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 4px solid #e1e1e1;
}
#bprod3b {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 4px solid #e1e1e1;
}
#bprod4 {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	float: left;
	border: 4px solid #e1e1e1;
}
#bprod5 {
	width: 282px;
	height: 222px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 4px solid #e1e1e1;
}
#cosdicro {
	height: 810px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
}
#cosdicro2 {
	height: 840px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
}
#cosdicro3 {
	height: 870px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
}
#cosdicro4 {
	height: 930px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
}
#cosdeg {
	height: 235px;
	background-color: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #ffffff,  #e1e1e1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
}
#prodesq {
	width: 448px;
	height: 225px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
#fotoprod {
	width: 448px;
	height: 200px;
}
#nomprod {
	width: 250px;
	height: 20px;
	margin-left: 10px;
	float: left;
}
#pestana1 {
	width: 45px;
	height: 25px;
	margin-left: 50px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #646464;
}
#pestana2 {
	width: 65px;
	height: 25px;
	margin-left: 5px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #646464;
}
#pestana3 {
	width: 45px;
	height: 25px;
	margin-left: 5px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #646464;
}
#pestana4 {
	width: 65px;
	height: 25px;
	margin-left: 100px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #646464;
}
#pestana5 {
	width: 90px;
	height: 25px;
	margin-left: 60px;
	float: left;
	text-align: center;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	background-color: #646464;
}
#proddta {
	width: 450px;
	height: 225px;
	margin-top: 10px;
	float: left;
}
#tablacomp {
	width: 400px;
	height: 180px;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}
#tablacomp2 {
	width: 400px;
	height: 180px;
	margin-top: 80px;
	margin-left: 50px;
	float: left;
}
#tablacomp3 {
	width: 400px;
	height: 180px;
	margin-top: 110px;
	margin-left: 50px;
	float: left;
}
#tablacomp4 {
	width: 300px;
	height: 180px;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}
#tablacomp5 {
	width: 250px;
	height: 180px;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}
#tablacomp6 {
	width: 400px;
	height: 300px;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}
#tablacomp7 {
	width: 400px;
	height: 140px;
	margin-top: 140px;
	margin-left: 50px;
	float: left;
}
#tablacomp8 {
	width: 400px;
	height: 180px;
	margin-top: 65px;
	margin-left: 50px;
	float: left;
}
#tablagris {
	width: 270px;
	height: 175px;
	margin-top: 55px;
	margin-left: 50px;
	background-color: #ebebeb;
	float: left;
}
#tablagris2 {
	width: 270px;
	height: 205px;
	margin-top: 55px;
	margin-left: 50px;
	background-color: #ebebeb;
	float: left;
}
#tablagris3 {
	width: 270px;
	height: 235px;
	margin-top: 55px;
	margin-left: 50px;
	background-color: #ebebeb;
	float: left;
}
#tablagris4 {
	width: 270px;
	height: 295px;
	margin-top: 55px;
	margin-left: 50px;
	background-color: #ebebeb;
	float: left;
}
#tablagris5 {
	width: 270px;
	height: 175px;
	margin-top: 90px;
	margin-left: 50px;
	background-color: #ebebeb;
	float: left;
}
#columicon {
	width: 25px;
	height: 145px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#columicon2 {
	width: 25px;
	height: 175px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#columicon3 {
	width: 25px;
	height: 205px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#columicon4 {
	width: 25px;
	height: 265px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
.iconos {
	margin-bottom: 5px;
}
#columtext {
	width: 205px;
	height: 145px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	font-size: 0.7em;
	line-height: 2.7em;
}
#columtext2 {
	width: 205px;
	height: 175px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	font-size: 0.7em;
	line-height: 2.7em;
}
#columtext3 {
	width: 205px;
	height: 205px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	font-size: 0.7em;
	line-height: 2.7em;
}
#columtext4 {
	width: 205px;
	height: 265px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	font-size: 0.7em;
	line-height: 2.7em;
}
#pdf {
	width: 80px;
	height: 50px;
	margin-top: 180px;
	margin-left: 50px;
	margin-bottom: 30px;
	float: left;
	text-align: center;
}
#pdf2 {
	width: 80px;
	height: 50px;
	margin-top: 210px;
	margin-left: 50px;
	margin-bottom: 30px;
	float: left;
	text-align: center;
}
#pdf3 {
	width: 80px;
	height: 50px;
	margin-top: 240px;
	margin-left: 50px;
	margin-bottom: 30px;
	float: left;
	text-align: center;
}
#pdf4 {
	width: 80px;
	height: 50px;
	margin-top: 300px;
	margin-left: 50px;
	margin-bottom: 30px;
	float: left;
	text-align: center;
}
#pdf5 {
	width: 80px;
	height: 50px;
	margin-top: 215px;
	margin-left: 50px;
	margin-bottom: 30px;
	float: left;
	text-align: center;
}
#caract {
	width: 580px;
	height: 200px;
	margin-top: 40px;
	margin-left: 40px;
	float: left;
}
.caracter {
	width: 580px;
	height: 80px;
	margin-bottom: 40px;
	float: left;
}
.quadre {
	width: 80px;
	height: 65px;
	float: left;
	background-color: #646464;
	text-align: center;
	padding-top: 15px;
}
.quadretemp {
	width: 80px;
	height: 75px;
	float: left;
	background-color: #646464;
	text-align: center;
	padding-top: 5px;
}
.quadreimg {
	width: 80px;
	height: 80px;
	float: left;
}
.desctit {
	width: 490px;
	margin-left: 90px;
}
#desctext {
	width: 490px;
	margin-left: 90px;
	padding-top: 10px;
}
#graficas {
	width: 245px;
	height: 250px;
	margin-top: 30px;
	margin-left: 40px;
	float: left;
	text-align: center;
}
.areabprod {
	display: inline-block;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 100%;
}
.areabprod:hover {
}
.bproddeg {
	width: 282px;
	height: 172px;
	background-color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ffffff));
	background: -moz-linear-gradient(top,  #e1e1e1,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff');
}
#bproddeggris1 {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#bproddeggris2 {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#bproddeggris3 {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#bproddeggris3b {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#bproddeggris4 {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#bproddeggris5 {
	width: 282px;
	height: 50px;
	background-color: #74747a;
	background: -webkit-gradient(linear, left top, left bottom, from(#74747a), to(#646468));
	background: -moz-linear-gradient(top,  #74747a,  #646468);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747a', endColorstr='#646468');
}
#menucontacto {
	height: 460px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuarea {
	height: 400px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuform {
	width: 310px;
	height: 360px;
	margin-top: 60px;
	margin-left: 60px;
	float: left;
}
#nombre {
	width: 310px;
	height: 20px;
	margin-bottom: 20px;
	background-image: url(../comun/fondoform.png);
	background-repeat: repeat;
}
#telefono {
	width: 310px;
	height: 20px;
	margin-bottom: 20px;
	background-image: url(../comun/fondoform.png);
	background-repeat: repeat;
}
#email {
	width: 310px;
	height: 20px;
	margin-bottom: 20px;
	background-image: url(../comun/fondoform.png);
	background-repeat: repeat;
}
#mensaje {
	width: 310px;
	height: 90px;
	background-image: url(../comun/fondoform.png);
	background-repeat: repeat;
}
#lineavg {
	width: 2px;
	height: 324px;
	margin-top: 60px;
	margin-left: 60px;
	float: left;
	background-image: url(../comun/lineavg.png);
	background-repeat: repeat;
}
#direccion {
	width: 410px;
	height: 360px;
	margin-top: 60px;
	margin-left: 60px;
	float: left;
}
h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
}
h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: normal;
}
#separador1 {
	width: 940px;
	margin-top: 20px;
}
#separador2 {
	width: 880px;
	margin-left: 27px;
}
#separador4 {
	width: 940px;
	float: left;
}
#separador5 {
	-webkit-box-shadow: 0 2px 2px 0 #c8c8c8;
	-moz-box-shadow: 0 2px 2px 0 #c8c8c8;
	box-shadow: 0 2px 2px 0 #c8c8c8;
}
#separador6 {
	width: 896px;
	margin-left: 20px;
	float: left;
}
#separador7 {
	width: 490px;
	margin-left: 90px;
}
#menuinfo {
	width: 940px;
	height: 240px;
	margin-left: 10px;
}
#info1 {
	width: 220px;
	height: 240px;
	margin-right: 20px;
	float: left;
}
#info2 {
	width: 220px;
	height: 240px;
	margin-right: 20px;
	float: left;
}
#info3 {
	width: 220px;
	height: 240px;
	margin-right: 20px;
	float: left;
}
#info4 {
	width: 220px;
	height: 240px;
	float: left;
}
h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.infostitulo {
	color: #2b9416;
	text-decoration: none;
	text-shadow: 0 1px 1px #ffffff;
}
.infosprod {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}
.infosgran {
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
}
.texto {
	color: #000;
}
.textocent {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #4b4b4b;
	text-decoration: none;
	text-align: center;
}
.boton1 {
	display: inline-block;
	width: 220px;
	height: 100px;
	background-image: url(../comun/boton1a.png);
	background-repeat: no-repeat;
	float: left;
}
.boton1:hover {
	background-image: url(../comun/boton1b.png);
	background-repeat: no-repeat;
}
.boton2 {
	display: inline-block;
	width: 220px;
	height: 100px;
	background-image: url(../comun/boton2a.png);
	background-repeat: no-repeat;
	float: left;
}
.boton2:hover {
	background-image: url(../comun/boton2b.png);
	background-repeat: no-repeat;
}
.boton3 {
	display: inline-block;
	width: 220px;
	height: 100px;
	background-image: url(../comun/boton3a.png);
	background-repeat: no-repeat;
	float: left;
}
.boton3:hover {
	background-image: url(../comun/boton3b.png);
	background-repeat: no-repeat;
}
.boton4 {
	display: inline-block;
	width: 220px;
	height: 100px;
	background-image: url(../comun/boton4a.png);
	background-repeat: no-repeat;
	float: left;
}
.boton4:hover {
	background-image: url(../comun/boton4b.png);
	background-repeat: no-repeat;
}
.maps {
	display: inline-block;
	width: 408px;
	height: 130px;
	background-image: url(../comun/maps1.png);
	background-repeat: no-repeat;
	float: left;
}
.maps:hover {
	background-image: url(../comun/maps2.png);
	background-repeat: no-repeat;
}
#inferior {
	height: 80px;
	margin-top: -80px;
	position: relative;
	clear: both;
	background-color: #323238;
	background: -webkit-gradient(linear, left top, left bottom, from(#47474f), to(#323238));
	background: -moz-linear-gradient(top,  #47474f,  #323238);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47474f', endColorstr='#323238');
}
#menupie {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #c8c8c8;
}
.linkpie {
	color: #c8c8c8;
	text-decoration: none;
	font-size: 14px;
}
.linkpie:hover {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
.linkerror {
	color: #2b9416;
	text-decoration: none;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.linkerror:hover {
	color: #114706;
	text-decoration: none;
}
#logoinf {
	width: 220px;
	height: 100px;
	position: relative;
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 50px;
	float: left;
	background-image: url(../comun/degverd.png);
	background-repeat: no-repeat;
	z-index: 1;
}
#mail {
	width: 100px;
	height: 20px;
	padding-top: 32px;
	margin-right: 50px;
	float: left;
}
#lineav {
	width: 10px;
	height: 60px;
	margin-top: 10px;
	margin-right: 40px;
	float: left;
}
#datos {
	width: 350px;
	height: 65px;
	line-height: 14px;
	padding-top: 12px;
	float: left;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
	margin-top: 75px;
	margin-left: 10px;
	margin-right: 10px;
}
#menuerror {
	height: 300px;
	margin-top: 50px;
	text-align: center;	
}
#infoserror {
	color: #2b9416;
	text-decoration: none;
	text-shadow: 0 1px 1px #ffffff;
}

.arqu {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 8px;
	bottom: 8px;
	overflow: hidden;
	background: url(http://www.arqudisseny.es/favicons/f999.ico);
	font-size: 16px;
	text-indent: 25px;
}
//*#superior #cuerpo #menuproducto table tr td {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #5C922F;
}*/

#menu table tr td .secciones {
	color: #000;
}
#menu table tr td {
	color: #CCC;
}
#superior #cuerpo #menulogo #menuproducto table tr td .texto strong {
	font-size: 14px;
	color: #4B4B4B;
}
#superior #cuerpo #menulogo #menuproducto table tr td div p strong {
	font-size: 14px;
	color: #4B4B4B;
}
#superior #cuerpo #menulogo table tr td .texto p strong {
	font-size: 14px;
}
#superior #cuerpo #menulogo table tr td div p strong {
	font-size: 14px;
	color: #4B4B4B;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#superior #cuerpo #menulogo table tr td p .texto strong {
	font-size: 14px;
}
.texto {
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	text-align: justify;
}
.texto {
	color: #4b4b4b;
	text-align: center;
}
.menubotpdf {
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}
#logfa {
	float: left;
	height: 50px;
	width: 80px;
	position: relative;
	margin-left: 20px;
	background-image: url(../../comun/2.png);
	padding-top: 25px;
}
#logos {
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 60px;
}
#gallery {


	}

#gallery a {
	text-decoration:none;
	}

#gallery .item {
	width: 200px; height: 100px; overflow: hidden;
	float: left;
	border: 3px solid #999;
	margin: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 5px;
	}


//*#gallery .item a { 
    overflow: hidden;
	}*/

#gallery .item a img {height: 100%; align-self: center;
	}

/*************************************
 * Basic lightbox styles. Notice the
 * default 'display' is 'none'.
 */

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  /**position: fixed;*/
  position:absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 25px;
  left: 0;
  /**background: black;*/
  /**background: rgba(0,0,0,0.8);*/
  /**height:860px;*/
  /**overflow-x:scroll;*/
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  /**max-height: 80%;*/
  /**margin-top: 2%;*/

  
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

.lightbox .image {
	/**max-width:70%;*/
	margin:0 auto;
	min-width: 1025px;
	/**height: 960px;*/
	max-width: 1250px;
	}

.lightbox .image img {
	border:10px #FFF solid;
	border-radius: 5px;
	}

.lightbox .info {
	width: 320px;
	display: block;
	text-align: center;
	margin: 0 auto;
}	

.next,
.prev,
.close {
	padding:5px;
	background-color:#FFF;
	text-decoration:none;
	font-size: 14px;
	color:#177818;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

.close {
	margin-top: 3px;
}

.lightbox .prev {
	float:left;
	}
	
.lightbox .next {
	float:right;
	}
.imatproduc {
	margin: 10px;
	height: 250px;
	width: 250px;
	float:left
}
#descripcioproducte {
	margin: 10px;
	margin-left: 20px;
	float: left;
	height: 175px;
	width: 625px;
	text-align: justify;
}

.titoldescripcio {
	font-size: 18px;
	font-style: normal;
	color: #090;
	text-decoration: none;
	font-weight: bold;
}
.menuseguiment {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: rgba(126,126,126,1);
	padding-left: 10px;
	background-image: url(../comun/fondobarra.png);
	background-repeat: no-repeat;
}
#caracteristiques {
	margin: 10px;
	float: right;
	height: 475px;
	width: 625px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;
	}
	
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;padding:8px 11px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#333;
	background-color:#fff;
	border-top-width:1px;
	border-bottom-width:1px;
	}
	
.tg th{
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 9px 11px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	text-align: left;
	}
	
.tg .tg-s6z2{
	text-align:center
	}
#fotogran {
	margin: 10px;
	float: left;
	height: 300px;
	width: 780px;
	margin-left: 10px;
}
img.redondo {
	border: 2px solid grey;
	margin: 0;
	padding: 0;
	border-radius: 15px;
	overflow: hidden;
}
#menuproducte {
	margin: 10px;
	float: left;
	height: 500px;
	width: 250px;
}
#fotoproducte {
	float: left;
	height: 230px;
	width: 320px;
	margin-top: 10px;
}
#tablacaracteristiques {
	margin: 10px;
	float: left;
	height: 480px;
	width: 450px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#descripcio {
	margin: 10px;
	float: right;
	height: 215px;
	width: 440px;
}
#listaproducto {
	margin: 10px;
	float: left;
	height: 710px;
	width: 200px;
}
.linkproducte {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: rgba(113,113,113,1);
	text-decoration:none
}
.linkselec {
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(63,63,63,1);
	text-decoration: none
}
#contenedor{
}
#contenedor ul.polaroid{
	list-style: none;
}
#contenedor ul.polaroid li{
	float: left;
	display: inline;
}
#contenedor ul.polaroid a{
	display: block;
	width: 230px;
	height: 156px;
	margin: 5px;
	/*text-align: left;*/
	border: none;
	background-color: #F5F5F5;
	text-decoration: none;
	padding: 5px 5px 25px 5px;
	box-shadow: 0 3px 6px #666;
	-webkit-box-shadow: 0 3px 6px #666;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	color: #858585;
	border-radius: 5px;
}
#contenedor ul.polaroid a:hover{
	z-index: 5;
	transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2); /* IE 9 */
	-webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
	-o-transform: scale(1.2,1.2); /* Opera */
	-moz-transform: scale(1.2,1.2); /* Firefox */
}
#contenedor ul.polaroid a:after { content: attr(title); }
